.container{
    display: flex;
    gap: 50px
}

.gameboard{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: solid 1px black;
    
}

.cellPlayer, .cellComputer{
    height: 50px;
    width: 50px;
    border: solid 1px black;
}

#start{
    visibility: hidden;
}